.row-ctn-conditions__div{
    padding: 15px;
}

.air-conditions-text__p{
    font-weight: bold;
    color: rgb(78, 78, 88);
}

.real-feel__p{
    color: rgb(41, 41, 43);
    margin-bottom: 0px !important;
}

.temperature-real-feel__p{
    font-weight: bold;
    font-size: 25px;
}

.detail-condititions__div{
   padding-left: 45px;
}