.day-forecast-text__p{
    font-weight: bold;
    color: rgb(78, 78, 88);
}

.row-ctn-day-forecast__div{
    padding: 15px;
}

.day-text__p{
    color: rgb(41, 41, 43);
    margin-bottom: 0px !important;
    padding-top: 9px;
}

.weather-text__span{
  
    font-weight: bold;
}

.date-text__p{
    color: rgb(41, 41, 43);
    margin-bottom: 0px !important;
    padding-top: 9px;
}


.day-forecast-detail__div{
    margin-bottom: 41px;
}