.container-sidebar__div {
    height: 100%;
    background-color: rgb(236, 244, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 60%), 0 2px 10px 0 rgb(0 0 0 / 60%);
}

.img-um__Image{
    margin-top: 20px;
}

.select-weather__div{
    margin-top: 50px;
    font-size: 20px;
}

.select-weather-text__p{
    font-weight: bold;
}

.icon-weather__p{
    margin-bottom: 5px !important;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
}


@media (max-width: 1349px) {
    .col-sidebar__div {
        position: fixed;
        top: 0;
        left: -120px;
        height: 100%;
        width: 120px;   
        transition: left 0.3s ease;
        z-index: 9999;
    }
}
.open {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu và độ trong suốt của lớp phủ */
    z-index: 500; /* Đảm bảo lớp phủ dưới sidebar */
   
  }