.container-inf-temperature__div{
   padding-left: 60px;
}
.temperature__div{
    margin-top: 10px;

}

.location__p{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px !important;
    color: white;
}

.temperature_p{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px !important ;
    color: white;
}

.chance-rain_p{
    color:white ;
}


@media (max-width: 543px) {
    .container-inf-temperature__div{
       padding: 0px;
    }
}

@media (max-width: 423px) {
    .temperature_p{
        font-size: 30px;
    }

    .location__p{
        font-size: 25px;
    }
}
