.ctn__forecast {
    padding: 15px;
}

.time__p {
    font-weight: bold;
    color: rgb(41, 41, 43);
    margin-bottom: 0px !important;
}

.forecast-text__p {
    font-weight: bold;
    color: rgb(78, 78, 88);
}

.temperature-forecast__div {
    font-size: 20px;
    font-weight: bold;
}

.container-detail__div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.temperature-forecast__div{
    margin-top: 15px;
    margin-bottom: 0px !important;
}