
.container-day-forecast__div{
    height: 100%;
    padding: 10px;
    padding-top: 65px;

}

@media (max-width: 767px) {
    .container-day-forecast__div{

        padding: 10px;

    }
}


.ctn-content__div{
    height: 100%;
}

.container-search__div{
    height: 10%;
    padding: 10px;
}

.container-temperature__div{
    height: 30%;
    padding: 10px;
}

.container-today-forecast__div{
    height: 35%;
    padding: 10px;

}

.air-conditions__div{
    height: 25%;
    padding: 10px;
 }

